<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>GoPed welcomes you</h1>

  <h2>Start your expedition with a click</h2>

  <%= link_to "Book Now!!!", booking_path, class: "btn btn-large btn-primary" %>
</div>
